.navallitems:hover
{
    -fx-cursor: hand ;
}

.navlabel
{
    -fx-font-weight: bold ;
    /* -fx-text-fill: red ; */
}

#navigation
{
    -fx-background-color: #b69e62 ;
}

.navallitems
{
    -fx-border-radius: 10px ;
    -fx-border-color: white ;
    -fx-border-width: 0.5px ;
    -fx-background-radius: 10px ;
    -fx-opacity: 1 ;
}

.navallitems:hover
{
    /* -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0, 2);     */
}

.navigationshadow
{
    -fx-background-radius: 10px ;
    -fx-border-radius: 10px ;
}

#secondnav
{
    -fx-background-color: #b69e627c ;
}

.secondnavitems
{
    -fx-background-color: red ;
    -fx-background-radius: 10px ;
    -fx-background-color: #b69e62;
}

/* .resseauxsocialitems
{
    -fx-border-color: white ;
    -fx-border-radius: 5px ;
    -fx-border-width: 0.5px ;
} */